<template>
  <div class="content-grid">
    <div class="item"
      v-for="article in articles"
      v-bind:key="article.id"
    >
      <Item
        :id="article.id"
        :bannerPath="article.bannerPath"
        :title="article.title"
      />
    </div>
  </div>
</template>

<script>
import Item from '@/components/commons/content/grid/Item.vue';

import ArticleModel from '@/models/article';

export default {
  name: 'ContentGrid',
  components: {
    Item,
  },
  data() {
    return {
      articles: ArticleModel.getList(7),
    };
  },
};
</script>

<style>
  .content-grid {
    display: flex;
    flex-wrap: wrap;
    color:white;

    justify-content: center;

    padding-left: 20px;
    padding-right: 20px;
  }

  .content-grid .item {
    width: calc(33.333% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @media all and (max-width: 1280px) {
    .content-grid .item {
      width: calc(100% - 40px);
    }
  }
</style>
