<template>
    <div class="home">
      <ContentGrid />
    </div>
</template>

<script>
import ContentGrid from '@/components/commons/content/grid/Grid.vue';

export default {
  name: 'HomeIndex',
  components: {
    ContentGrid,
  },
  data() {
    return {
      truc: { title: 'machin' },
    };
  },
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
        min-height: 100%;
    }
</style>
